<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content= "pagina para comprobar asin"/>
    <meta name ="keywords" content="amazon,asin,comprobador"/>
    <link rel="stylesheet" type="text/css" href="{% static 'AmazonDataApp/style.css' %}"/>

    <title>Document</title></head>
<body>
    
    <header>


            <img src="{% static 'AmazonDataApp/img/head.jpg' %}" width=100%>

    </header>
    <nav id=navegador>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ARCHIVOS</a></li>
            <li><a href="#">CONTACTO</a></li>
            <li><a href="#">ACERCA DE</a></li>
        </ul>
    </nav>



    <aside id=barralateral>
        <blockquote>Primer elemento</blockquote>
        <blockquote>Segundo elemento</blockquote>
        <blockquote>Tercer elemento</blockquote>
    </aside>

    <section>
        {% include "AmazonDataApp/searchbar.html" %}
    </section>
    
    <section>
        {% block content %}
            
        {% endblock %}
    </section>
   
    <footer>
        pie de página
    </footer>
</body>
</html>
