{% extends "AmazonDataApp/base.html" %}
{% block content %}

{% if asin %}
<article class="container">
        <p>Estás buscando {{asin}}</p>
            <ul>
                {% if lista %}
                {% for item in lista %}
                    <li>{{item}}</li>
                {% endfor %}
                {% endif %}
            </ul>
</article>
{% endif %}
<!--
{% if comp %}
    <ul>
        {% for item in comp %}
            {% if item.titulo %}
                <li>{{item.titulo}}&nbsp;{{item.bullet_1}}</li>  
            {% else %}
                <li>{{item}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
-->

<section class="container">
{% if comp %}

    {% for item in comp %}
    {% if item.titulo %}
    <section class="row">
        <section class="col-3">
            <p><b>{{asin}}</b></p>
        </section>
        <section class="col-9">
            <p><b>{{item.titulo}}</b></p>
        </section>
    </section>
    <section class="row">
        <section class="col-2">
        </section>

        <section class="col-2">
           <p>{{item.bullet_1}}</p> 
        </section>
        <section class="col-2">
            <p>{{item.bullet_2}}</p> 
         </section>
         <section class="col-2">
            <p>{{item.bullet_3}}</p> 
         </section>
         <section class="col-2">
            <p>{{item.bullet_4}}</p> 
         </section>
         <section class="col-2">
            <p>{{item.bullet_5}}</p> 
         </section>
    </section>
    {% else %}
    <section class="row">
        <section class="col-3">
            <p><b>{{asin}}</b></p>
        </section>
        <section class="col-9">
            <p>No hay datos disponibles}</p>
        </section>
    </section>
    {% endif %}
    {% endfor %}

<a href="">EXPORTAR A EXCEL</a>
{% endif %}
</section>


{% endblock %}