{% extends "AmazonDataApp/base.html" %}
{% block content %}

{% if asin %}
        <p>Estás buscando {{asin}}</p>
            <ul>
                {% for item in lista %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
{% endif %}

{% if comp %}
    <ul>
        {% for item in comp %}
            {% if item.titulo %}
                <li>{{item.titulo}}&nbsp;{{item.bullet_1}}</li>  
            {% else %}
                <li>{{item}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}